<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />  
  <package id="XSockets" version="4.0.0" targetFramework="net45" />
  <package id="XSockets.Core" version="4.0.0" targetFramework="net45" />
  <package id="XSockets.Plugin.Framework" version="4.0.0" targetFramework="net45" />
  <package id="XSockets.Server" version="4.0.0" targetFramework="net45" />
</packages>