<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.2.3" targetFramework="net45" />
  <package id="Elasticsearch.Net.JsonNET" version="1.2.3" targetFramework="net45" />
  <package id="FakeItEasy" version="1.25.0" targetFramework="net45" />
  <package id="FluentAssertions" version="3.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>