<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      autoReload="true">

  <variable name="VerboseLayout" value="[PID:${processid:padCharacter=0:padding=5}:${threadid:padCharacter=0:padding=3} ${date:universalTime=true:format=yyyy\.MM\.dd HH\:mm\:ss\.fff} ${level:padding=-5:uppercase=true} ${logger:padding=-20:fixedLength=true}] ${message}${onexception:${newline}EXCEPTION OCCURRED:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=20}}"/>
  <variable name="ConsoleLayout" value="[${processid:padCharacter=0:padding=5},${threadid:padCharacter=0:padding=2},${date:universalTime=true:format=HH\:mm\:ss\.fff}] ${message}${onexception:${newline}EXCEPTION OCCURRED:${newline}${exception:format=message}}"/>
  <variable name="LogFileNameBase" value="${logsdir}/${shortdate:universalTime=true}/${environment:variable=EVENTSTORE_INT-COMPONENT-NAME}"/>
  
  <targets async="true">
    <target name="fileLog" xsi:type="File" fileName="${LogFileNameBase}.log" layout="${VerboseLayout}"/>
   
    <target name="errorFileLog" xsi:type="FilteringWrapper" condition="length('${exception}')>0 || level==LogLevel.Error || level==LogLevel.Fatal">
      <target xsi:type="File" fileName="${LogFileNameBase}-err.log" layout="${VerboseLayout}"/>
    </target>
    
    <target name="coloredConsoleLog" xsi:type="ColoredConsole" layout="${ConsoleLayout}" useDefaultRowHighlightingRules="true">
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" backgroundColor="NoChange"/>
    </target>
    
    <target name="plainConsoleLog" xsi:type="Console" layout="${ConsoleLayout}"/>
    
    <target name="statsFileLog" xsi:type="File" fileName="${LogFileNameBase}-stats.csv" layout="${message}"/>
  </targets>

  <rules>
    <logger name="REGULAR-STATS-LOGGER" minlevel="Trace" writeTo="statsFileLog" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="fileLog, errorFileLog"/>

    <logger name="*" minlevel="Trace" writeTo="plainConsoleLog">
      <filters>
        <when condition="is-dot-net()" action="Ignore"/>
      </filters>
    </logger>
    <logger name="*" minlevel="Trace" writeTo="coloredConsoleLog">
      <filters>
        <when condition="is-mono()" action="Ignore"/>
      </filters>
    </logger>
   
  </rules>
</nlog>