<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.0.1" targetFramework="net45" />
  <package id="EventStore.Client.Embedded" version="3.0.1" targetFramework="net45" />
  <package id="EventStoreRunner" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>